html,
body{
  height: 100%;
  margin: 0 0 0 0;
}

#container{
  width: 100%;
  height: 100vh;
  margin-top: 0;
  background-image: url(img/molecules2.png);
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* --- FLEX --- */
  display: flex;
  justify-content: center;
  align-items: center;
}


  .box{
  height: 82vh;
  width: auto;
  font-size: 20px;
  background: rgba(255, 255, 255, .3);
  -webkit-backdrop-filter: blur(-125px);
  backdrop-filter: blur(2px);
  padding: 15px 5px 1px 5px ;
  text-align: center;
  box-shadow:   12px 12px 16px 0 rgba(0, 0, 0, 0.50),  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


/* .pipedriveWebForms{
  margin: 0 10px 0 0;
} */