html,
body{
	height: 100%;
  margin: 0%;
}

#container{
  width: 100%;
  height: 100vh;
  background: #e6e6e6;
  /* --- FLEX --- */
  display: flex;
  justify-content: center;
  align-items: center;}


  .box{
  height: 85vh;
  width: auto;
  font-size: 20px;
  background: #fff;
  color: #fff;
  text-align: center;
  box-shadow: 0px 2px 5px #666;
  border-radius: 5px;
  padding: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.pipedriveWebForms{
  margin: 0 10px 0 0;
}