html,
body{
	height: 100%;
  margin: 0%;
}

#container{
  width: 100%;
  height: 100vh;
  background-image: url(img/molecules2.png);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* --- FLEX --- */
  display: flex;
  justify-content: center;
  align-items: center;
}


  .box{
  margin: 0;
  height: 85vh;
  width: auto;
  font-size: 20px;
  background: rgba(255, 255, 255, .3);
	-webkit-backdrop-filter: blur(-125px);
	backdrop-filter: blur(2px);
  padding: 6px;
  text-align: center;
  box-shadow:   12px 12px 16px 0 rgba(0, 0, 0, 0.50),  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}


.pipedriveWebForms{
  margin: 0 10px 0 0;
}