html,
body{
  height: 100%;
  margin: 0%!important;
  background-image: url(img/molecules2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media (max-width: 760px) {
  #container {
    height: 90vh !important;
    background-position: bottom;
    padding: 0% !important;
    margin: 0% !important;
  }
  body{
    height: 95% !important;
    margin: 0% !important;
  }
}



#container{
  width: 100%;
  height: 100vh;
  margin-top: 0% ;
  padding:  2px 0 0 0;
  /* --- FLEX --- */
  display: flex;
  justify-content: center;
  align-items: center;
}


 .box{
  height: fit-content;
  width: auto;
  margin: 0% !important;
  font-size: 20px;
  background: rgba(255, 255, 255, .3);
  -webkit-backdrop-filter: blur(-125px);
  backdrop-filter: blur(2px);
  padding: 15px 5px 0 5px ;
  text-align: center;
  box-shadow:   12px 12px 16px 0 rgba(0, 0, 0, 0.50),  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.pipedriveWebForms{
  margin: 0% !important;
  padding: 0% !important;
}